:root {
  --background-color-main: #242424;
  --font-color-main: #E3E3E3;
  --text-hint-color: #BABABA;
  --background-color-secondary: #323232;
  --note-background-color: #3F3F3F;
  --search-bar-background-color: #5D5D5D;
  --note-border-radius: 18px;
  --circle-border-radius: 1000px;
}
@media (prefers-color-scheme: light) {
}
.body.light-theme {
  --background-color-main: #E3E3E3;
  --font-color-main: #242424;
  --text-hint-color: #BABABA;
  --background-color-secondary: #323232;
  --note-background-color: #3F3F3F;
  --search-bar-background-color: #5D5D5D;
}